body {
    margin: 5px;
    padding: 20px;
}
.container-fluid {
    margin: 5%;

}

.form-btn {
    text-align: center;
}

.btn-outline-danger {
    width: 50%;
}

#loginForm {
    border-right: 1px solid #ddd;
    
}
#loginForm legend {
    text-decoration: none;
    color:  #596a87;
}

#createAccount legend {
    text-decoration: none;
    color:  #596a87;
}