/*
for log in page
*/
/*
#loginForm legend {
    text-decoration: none;
    color:  #596a87;
}

#createAccount legend {
    text-decoration: none;
    color:  #596a87;
}


for settings legend

also inline font coloring, so need to figure that out


legend {
    color:  #596a87;
}

*/