body {
    margin: 5px;
    padding: 20px;
}


button {

    float: right;
}

a {
    padding: 7px;
    margin: auto;
    text-align: center;
    float: right;

}

input[type=text] {
    width: 35%;
    padding: 8px 13px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

input[type=submit] {
    float: right;
}

select {
    width: 50%;
    padding: 8px 13px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

#discardButton {
    margin-right: 10px;
}

#showSeconds {
    float: right;
}
#showAmPm {
    float: right;
}


#deleteButton {
    float: right;
}